.form {
  position: absolute;
  display: flex;
  left: 40rem;
  bottom: 3rem;
}
.form label {
  font-weight: bold;
  margin-right: 1rem;
}
.form input {
  width: 3rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
  padding-left: 0.5rem;
}

.form button {
  margin-left: 1.5rem;
  font: inherit;
  background-color: #031083;
  border: 1px solid #031083;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #040939;
  border-color: #040939;
}
